@font-face {
    font-family: 'Levenim';
    src: url(http://atlesta.com/assets/fonts/Levenim-MT-Regular.ttf);
}

@font-face {
    font-family: 'LevenimBold';
    src: url(http://atlesta.com/assets/fonts/Levenim-MT-BOLD.ttf);
}

@font-face {
	font-family: 'DistortedRegular';
	src: url(http://atlesta.com/assets/fonts/Distorted Fashion Regular.otf);
}

@font-face {
	font-family: 'DistortedItalic';
	src: url(http://atlesta.com/assets/fonts/Distorted Fashion Italic.otf);
}

@font-face {
	font-family: 'Vevey';
	src: url(http://atlesta.com/assets/fonts/vevey.otf);
}

body {
	background: url('../../assets/img/bg.jpg') center center no-repeat;
	background-size: cover;
	font-family: 'Levenim', 'LevenimBold', 'Helvetica';
	color: #efefef;
}

h1,h2,h3,h4,h5,h6, a {	
	font-family: 'Levenim', 'LevenimBold', 'Times New Roman';
	color: #efefef;
}

a:hover {
	text-decoration: none;
	color: #fff;
}

.btn-download {
	width: 100%;
	padding: 10px 15px;
	background: transparent;
	border: 2px solid #fff;
	margin: 5px 0;
}

.youtube {
	background: transparent;
	/*border: 2px solid #fff;*/
	margin: 10px 0;
}

.gestures {
    font-family: 'DistortedRegular';
    font-size: 4em;
    letter-spacing: 5px;
    width: 100%;
    margin: 15px 0;
}

.shovia {
	font-family: 'Vevey';
	font-size: 3em;
	letter-spacing: 5px;
	width: 100%;
	padding: 0;
}

.logo {
	margin: 20px 0;
}

.logo img{
	width: 100%;
}


.cover {
	margin-bottom: 60px;
}
.covers {
	margin-bottom: 0;
}
.cover h1{
	letter-spacing: 0.15em;
}
.cover h4{
	letter-spacing: 0.10em;
}
.cover h5{
	letter-spacing: 0.25em;
	line-height: 24px;
	margin-top: 20px;
}
.covers h5{
	letter-spacing: 0.25em;
	line-height: 24px;
}
.cover img {
	width: 100%;
}

.youtube {
	/*margin-bottom: 60px;*/
}

.youtube img{
	width: 100%;
}

.newsletter {
	border-top: 1px solid #efefef;
	border-bottom: 1px solid #efefef;
	margin: 40px 0;
}

.newsletter h3{
	letter-spacing: 0.10em;
}

.form-control{
	background: #333;
	border: none;
	color: #efefef;
	height: 40px;
	font-family: 'Levenim';
	text-align: center;
}

.form-control-button{
	font-family: 'Levenim';
	background: none;
	color: #efefef;
	border: none;
	font-size: 22px;
	letter-spacing: 0.10em;
	margin-top: 20px;
}

.form-control-button :hover{
	
}
.btn-submit{
	background:none;
	border:none;
	font-size: 22px;
	letter-spacing: 0.10em;
}
.btn-close{
	background:none;
	border:none;
	font-size: 11px;
}
.soundcloud {
	margin: 60px 0;
}

.entersite {
	margin: 40px 0 80px 0;
	background: transparent;
}

.entersite h13{
	letter-spacing: 0.10em;
}

.navigation {
	letter-spacing: 0.10em;
	font-size: 16px;
	line-height: 28px;
}


#blog-landing {
	position: relative;
	max-width: 100%;
	width: 95%;
	margin-left: 30px;
	margin-bottom: 30px;
}
#blog-landing img {
	width: 100%;
	max-width: 100%;
	height: auto;
}
.white-panel {
	position: absolute;
	background: rgba(11,11,11,0.8);	
}

.white-panel:hover {
	background: #000;
}

.pinterestgrid-title {
	color:#efefef;
	padding: 10px 0;
}

.twitter{
	background: #000;
	padding: 20px;
	
}
.table-hover>tbody>tr:hover>td, .table-hover>tbody>tr:hover>th {
background-color: rgba(255,255,255,0.1);
}
.copyright {
	color; #efefef;
}

.content{
	
}

.content img{
	width: 100%;
}

.content h1{
	 text-transform: uppercase;
}
.store {
	background: #efefef;
	color: #111;
	margin-bottom: 25px;
}
.store .store-title {height: 50px; vertical-align: middle;}
.store .store-title h4 {color:#111; padding: 5px 10px; vertical-align: middle;}
.store .store-desc {color:#111; padding: 5px 10px; height: 50px; vertical-align: middle;}
.store-footer {background:#000; border: 3px solid rgba(255,173,145,0.9);}
.store-footer .store-title h4 {color:rgba(255,174,135,0.9); padding: 5px 10px;}
.store-footer .store-desc {color:#fff; padding: 5px 10px;}
.store img {width: 100%;}

#load_more {
	/*position: absolute;*/
	margin-top: 100px;
}